[submodule "mimic-code"]
	path = mimic-code
	url = https://github.com/MIT-LCP/mimic-code
[submodule "mimic-profiles"]
	path = mimic-profiles
	url = https://github.com/aehrc/mimic-profiles.git
	branch = _validation_fixes
[submodule "fhir-packages"]
	path = fhir-packages
	url = https://github.com/kind-lab/fhir-packages
